:host {
  display: flex;
  height: 100%;

  .sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .etalon-list {
      padding: 15px;
      flex:1;
      overflow: auto;
      gap: 10px;
    }
  }
  .blue-but {
    color: white;
    background: #005FF9;
  }

  .blue-but:hover:not(:disabled) {
    color: white;
    background: #1021f9;
  }

  .title {
    margin: auto;
    margin-top: 10px;
  }

  app-map {
    width: 70%;
  }
}
