:host {
  width: 100%;

  table {
    width: 100%;;
  }

  .title-table {
    margin-top: 18px;
    font-size: 12px;
    color: #ababab;
    font-style: italic;
    width: 100%;
  }

}
