<mat-card>

  <div class="auth-form" [formGroup]="authForm">
    <mat-form-field appearance="fill">
      <mat-label>Логин</mat-label>
      <input matInput required formControlName="login">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" required formControlName="password">
    </mat-form-field>
    
    <button mat-button (click)="login()">
      Войти
    </button>

    <a [routerLink]="'/auth/signup'">Зарегистрироваться</a>
  </div>
</mat-card>
