<p>etalon-card works!</p>
<h1 class="etalon-title">Эталон 1.</h1>
<app-flat-info></app-flat-info>
<div class="etalon-analogs">
  <div class="etalon-analogs__title">Аналоги</div>
  <div class="etalon-analogs__list">
    <div><mat-checkbox></mat-checkbox><app-analog-card></app-analog-card></div>
    <div><mat-checkbox></mat-checkbox><app-analog-card></app-analog-card></div>
    <div><mat-checkbox></mat-checkbox><app-analog-card></app-analog-card></div>
    <div><mat-checkbox></mat-checkbox><app-analog-card></app-analog-card></div>
    <div><mat-checkbox></mat-checkbox><app-analog-card></app-analog-card></div>
  </div>
</div>
