
:host {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  .map-wrapper {
    height: 100%;
    position: relative;
    .map-container {
      height: 100%;
    }
    app-flat-popup {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000000 !important;
      margin: 15px;
      width: 35%;
      padding: 15px;
      background-color: white;
    }
  }
}
