:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;

  div {
    background-color: azure;
    padding: 5px;
    border-radius: 5px;
  }

  .f {
    background: #c7022c;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  .r {
    background: #8f9409;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  .k {
    background: #b3290b;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  .w {
    background: #014068;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  .m {
    background: #8513a4;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  .p {
    background: #065838;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }
}
