:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  a {
    text-align: center;
  }
}
