<div class="navbar">
  <button *ngIfmat-button [routerLink]="['/archive']"> Архив</button>
</div>
<div class="page">
  <div class="page_content">
    <div class="top">
<!--    <app-file-upload (onFileSelected)="onFileSelected($event)"></app-file-upload>-->

    <div class="search"><img src="assets/icons/findIcon.png"><input class="search_input" type="text" autocomplete="off"></div>
      <button class="top_btn blue_bg" (click)="fileUpload.click()">+ Импортировать </button>
      <button class="top_btn red_bg" (click)="startTable.goToMap()"
       [disabled]="!(startTable.table$ | async)"> <img src="assets/icons/calcIcon.png"> Рассчитать пул </button>
    </div>

    <ng-container  *ngIf="startTable.table$ | async as table; else noTable">
      <div class="title-top">
        Расчет #{{table.id}}
        <img src="assets/icons/penIcon.png">
      </div>


      <app-start-table></app-start-table>
    </ng-container>
    <ng-template #noTable>
      <h2 class="no-table-template">
        Чтобы начать работу, загрузите файл.
      </h2>
    </ng-template>
  </div>
</div>

<input type="file" class="file-input"
       (change)="selectFile($event)" #fileUpload
       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

